@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header{
    position: relative;
    height: 100vh;
}

.header__slider{
    &-item{
        height: 100vh;
        background-image: url(../images/header-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-image: center;
        position: relative;
    }
}

.slider-item__info{
    position: absolute;
    right: 80px;
    bottom: 116px;
    text-align: right;
    &-suptitle{
        margin-bottom: 5px;
    }
    &-suptext{
        margin-bottom: 8px;
    }
}

.slider-item__info-title{
    font-weight: 800;
    font-size: 80px;
    line-height: 86px;
    margin-bottom: 48px;
}

.slider-item__info-text{
    font-weight: 800;
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 20px;
}

.slider-arrows{
    z-index: 4;
    position: absolute;
    top: 40px;
    right: 80px;
    cursor: pointer;
    &__left{
        right: 125px;
    }
}

.slider-dotshead{
    position: absolute;
    right: 50px;
    bottom: 36px;
    max-width: 920px;
    width: 100%;
    .slick-current{
        .dots-box{
            border-top: 4px solid $green;
        }
    }
}

.dots-box{
    width: 200px;
    display: flex;
    justify-content: space-between;
    height: 28px;
    align-items: center;
    border-top: 4px solid #fff;
    padding-top: 6px;
    text-transform: capitalize;
    &__number{
        font-weight: 800;
        font-size: 24px;
    }
    &__name{
        font-weight: 300;
        line-height: 19px;
    }
}

.header__aside{
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    border-right: 1px solid rgba(#fff, .25);
    height: 100vh;
}

.header-title{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    font-weight: 800;
    font-size: 200px;
    line-height: 156px;
    opacity: 0.07;
}

.menu{
    text-transform: capitalize;
    padding-top: 40px;
    a{
        span{
            display: block;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 3px;
            padding-top: 6px; 
            margin-bottom: 20px;
        }
    }
}

.header__search{
    padding: 15px 0 35px;
}

.header__date{
    font-weight: 800;
    font-size: 72px;
    line-height: 64px;
    span{
        padding-top: 15px;
        display: block;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1.4px;
        margin-bottom: 30px;
    }
}

.header__location{
    display: inline-block;
    position: relative;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.05px;
    padding-left: 19px;
    text-transform: capitalize;
    &::before{
        content: "";
        position: absolute;
        width: 11px;
        height: 13px;
        background-image: url(../images/marker.svg);
        left: 0;
        top: 0;

    }
}
.header__map {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

.header__arrows{
    position: absolute;
    left: 210px;
    bottom: 40px;
    z-index: 3;
}

.line-animation{
    stroke-dashoffset: 600;
    stroke-dasharray: 600;
    animation: animdash 5s infinite 6s;
}

@keyframes animdash {
    to{
        stroke-dashoffset: 0;
    }
}

.surf{
    
    background-image: url(../images/surf-bg.svg);
    background-repeat: no-repeat;
    background-position: right 200px;
    background-size: auto;
    &__subtitle{
        text-align: right;
        padding-right: 80px;
        margin-top: -80px;
    }
}

.serf-box{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    &__inner{
        min-height: 750px;
        background: rgba(#1C2121, .85);
        position: relative;
        transition: all .5s;
        &:hover{
            background: rgba(#1C2121, .3);
            .surf-box__inner-btn{
                display: block;
            }
        }
    }
}

.surf-slider{
    padding-top: 110px;
    .slider-arrows{
       top: 50px; 
       opacity: 0.25;
    }
    .slick-slide:nth-child(4n + 1){
        .serf-box{
            margin-top: 32px;
        }
    }
    .slick-slide:nth-child(4n + 3){
        .serf-box{
            margin-top: 89px;
        }
    }
    .slick-current{
        .surf-box__inner-btn{
            display: block;
        }
        .serf-box__inner{
            background: rgba(#1C2121, .3);
        }
    }
}

.serf-box__inner-title{
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    padding: 72px 0 0 40px;
    width: 140px;
}
.serf-box__inner-location{
    position: absolute;
    left: 30px;
    bottom: 80px;
    width: 0;
    height: 0;
    white-space: nowrap;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    transform: rotate(-90deg);
    span{
        font-weight: 100;
    }
}
.surf-box__inner-btn{
    position: absolute;
    text-align: center;
    bottom: 0px;
    left: 0;
    right: 0;
    display: none;
}
.slider-map{
    max-width: 1200px;
    min-height: 635px;
    background-image: url(../images/world-map-dots.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    .slick-list{
        min-height: 635px;
    }
    .slick-current{
        .slider-dots__content{
            display: block;

        }
        .slider-dots__circle{
            content: "";
           background: url(../images/oval.svg); 
           background-repeat: no-repeat;
           background-position: center center;
           width: 30px;
           height: 40px;
           box-shadow: none;
        }
    }
}

.slider-dots__circle{
width: 24px;
height: 24px;
background-color: $green;
border-radius: 50%;
box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.837777);
cursor: pointer;
}
.slider-dots{
    position: relative;
}

.slider-dots__content{
    z-index: 5;
    position: absolute;
    bottom: 40px;
    right: -0%;
    display: none;
    background-color: rgba(#0F1010, .7);
    padding: 28px 31px 31px 32px;
    width: 283px;
    height: 216px;
    border-radius: 6px;
    &-tite{
        font-weight: 800;
        font-size: 18px;
        line-height: 26px;
        padding-bottom: 9px;
        position: relative;
        &::after{
            content: "";
            height: 1px;
            width: 80px;
            background-color: $green;
            display: block;
            margin-top: 7px;
        }
    }
    &-subtitle{
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: capitalize;
    }
    &-row{
        display: flex;
        justify-content: space-between;
        // text-align: center;
        img{
            padding-top: 3px;
        }

    }
    &_item{
        padding-top: 30px;
        text-align: center;
        align-items: center;
        img{
            margin-bottom: 7px;
        }
        
    }
    
}

.slider-dots__content-number{
    font-weight: 800;
    font-size: 16px;
    line-height: 23px;
}
.slider-dots__content-name{
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
}

.slider-dots--1{
    .slider-dots__content{
        transform: translateX(50%);
    }
 top: 335px;
 left: 0px;
}
.slider-dots--2{
    top: 290px;
    left: -10%;
    .slider-dots__circle{
        position: relative;
        &::before{
            position: absolute;
            content: "";
            background-image: url(../images/mini-marker.svg);
            height: 20px;
            width: 16px;
            background-size: cover;
            top: -25px;
            right: -25px;
        }
    }  
}
.slider-dots--3{
    top: 318px;
    left: 30%;
}
.slider-dots--4{
    top: 501px;
    left: -30%;
}
.slider-dots--5{
    top: 212px;
    left: -40%;
}
.slider-dots--6{
    top: 555px;
    left: -90%;
}
.slider-dots--7{
    top: 395px;
    left: -60%;
}
.slider-dots--8{
    .slider-dots__content{
        transform: translateX(-20%);
    }
    top: 492px;
    left: 20%;
}




.travel{
    .slider-arrows{
        padding-right: 5px;
        top:130px;
        opacity: 0.25;
    }
    padding-bottom: 230px;
    background-image: url(../images/cocktail.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    span{
        h3{
            transform: translateX(-109px);
            display: inline-block;
        }
    }
}

.travel-slider{
    
    &__head{
        background-repeat: no-repeat;
        background-position: top left;
        background-size: auto;
        min-height: 780px;
    }
    &__descr{
        margin-top: -230px;
        min-height: 320px;
        background-repeat: no-repeat;
        background-position: right center;
        background-size: auto;
        padding-top: 160px;
        padding-left: 133px;
        
        .descr__head{
            padding-right: 78px;
            position: relative;
            img{
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }

    &__btn{
        text-align: center;
    }

    &__info{
        padding: 120px 100px 66px 130px;
        display: flex;
        justify-content: space-between;
        &-item{
            width: 275px;
            min-height: 200px;
            position: relative;
        }
        &-subtitle{
            
            position: absolute;
            left: -97px;
            top: 97px;
            width: 200px;
            height: 0;
            white-space: nowrap;
            font-size: 18px;
            line-height: 22px;
            text-align: right;
            letter-spacing: 8px;
            opacity: 0.5;
            transform: rotate(-90deg);
        }
        &-title{
            padding-left: 40px;
            font-weight: 800;
            font-size: 40px;
            line-height: 36px;
            position: relative;
            span{
                display: block;
                position: absolute;
                bottom: -100%;
                right: 12%;
                font-weight: 400;
                font-size: 14px;
                line-height: 36px;
                text-align: right;
                letter-spacing: 5.25px;
                opacity: 0.75;
            }
        }
    }
}
.travel-slider__subtitle{
    text-align: right;
    padding-right: 80px;
    transform: translateY(50%);
}




@import "media";
